<ion-header>
  <ion-navbar>
    <ion-title>Atualização</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <form [formGroup]="usuarioForm">

      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input formControlName="nome" type="text"[(ngModel)]="usuario.nome"></ion-input>
      </ion-item>

      <ion-item *ngIf="!usuarioForm.controls.nome.valid  
      && (usuarioForm.controls.nome.dirty || submitAttempt)">
        <p>Por favor, insira um Nome válido.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input formControlName="email" type="text" [(ngModel)]="usuario.email"></ion-input>
      </ion-item>
        <p *ngIf="!usuarioForm.controls.email.valid &&
         (usuarioForm.controls.email.dirty || submitAttempt)">Por favor, insira um E-mail válido.</p>

    </form>

    <button ion-button full color="primary" (click)="update()">Atualizar</button>
  </ion-list>

</ion-content>